<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
  <h1>OrenoApp Login</h1>
  <form action="login" id="login_form" method="POST">
    <div>
      Username :<input type="text" id="username" name="username" value="">
    </div>
    <div>
      Password :<input type="text" id="password" name="password" value="">
    </div>
    <div>
      <input type="submit" id="submit" value="Login">
    </div>
  </form>
</body>
</html>
